<configuration>
	<connectionStrings>
		<add name="Parcial2MASEntities"
			 connectionString="metadata=res://*/a.csdl|res://*/a.ssdl|res://*/a.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=&quot;
                           data source=(localdb)\MSSQLLocalDB;
                           initial catalog=Parcial2MAS;
                           user id=usrparcial2;
                           password=12345678;
                           MultipleActiveResultSets=True;
                           App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
